<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul id="productList">
        {{#each products}}
            <li>
                <p><strong>{{this.title}}</strong> - {{this.price}} USD - {{this.category}}</p>
                <a href="/products/{{this._id}}">Ver detalles</a>
                <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
            </li>
        {{/each}}
    </ul>
<div>
    {{#if prevPage}}
        <a href="{{prevPage}}">Página Anterior</a>
    {{/if}}
    <span>Página {{page}} de {{totalPages}}</span>
    {{#if nextPage}}
        <a href="{{nextPage}}">Página Siguiente</a>
    {{/if}}
</div>



    <script>
        function addToCart(productId) {
            fetch(`/api/carts/:cid/product/${productId}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => alert(data.message || "Producto agregado al carrito"))
                .catch(error => console.error('Error al agregar producto al carrito:', error));
        }
    </script>
</body>
</html>
